.bg-cobalt {
    background-color: #2b6bdd;
}

.bg-ferrari {
    background-color: #dd2b2b;
}

.bg-sunset {
    background-color: #ff6a1d;
}

.bg-viridian {
    background-color: #38bf2c;
}

.bg-krypton {
    background-color: #0ad5a7;
}

.bg-giallo {
    background-color: #ffdd00;
}

.bg-berry {
    background-color: #f80054;
}

.bg-haze {
    background-color: #7f51db;
}

.bg-boulevard {
    background-color: #16171a;
}

.bg-moonlight {
    background-color: #293447;
}

.bg-meteor {
    background-color: #6d727a;
}

.bg-quartz {
    background-color: #b2b6bf;
}

.bg-titanium {
    background-color: #cacfd9;
}

.bg-opal {
    background-color: #f5f6f7;
}

.bg-alpine {
    background-color: #fafafa;
}

.bg-bianco {
    background-color: #ffffff;
}

.text-cobalt {
    color: #2b6bdd;
}

.text-ferrari {
    color: #dd2b2b;
}

.text-sunset {
    color: #ff6a1d;
}

.text-viridian {
    color: #38bf2c;
}

.text-krypton {
    color: #0ad5a7;
}

.text-giallo {
    color: #ffdd00;
}

.text-berry {
    color: #f80054;
}

.text-haze {
    color: #7f51db;
}

.text-boulevard {
    color: #16171a;
}

.text-moonlight {
    color: #293447;
}

.text-meteor {
    color: #6d727a;
}

.text-quartz {
    color: #b2b6bf;
}

.text-titanium {
    color: #cacfd9;
}

.text-opal {
    color: #f5f6f7;
}

.text-alpine {
    color: #fafafa;
}

.text-bianco {
    color: #ffffff;
}